@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
} 
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

body {
    --main-color: #F0993C;
    --link-color: #B3722D;
    --hover-color: #805120;
    --transparency-color-light: #0000001A;
    --transparency-color-dark: #0000002B;
    padding-bottom: 100px;
}

.container {
    animation: fadeIn 0.5s ease forwards;
}

.navbar-div:last-child {
    margin-left: auto;
}

#backbtn {
    color: white;
    cursor: hand;
}

#foodpicture {
    float: right;
    width: 200px;
}

#mainlogo {
    width: 300px;
    display: block;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

#startup {
    z-index: -1;
    height: 500px;
    opacity: 0.25;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.minitext {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-btn {
    width: 300px;
}

.display-1 {
    font-weight: 900;
    font-size: 4em;
    letter-spacing: -0.02em;
}

.display-2 {
    font-weight: 900;
    font-size: 2em;
    letter-spacing: -0.02em;
}

.in-form {
    font-size: 10em;
    width: 300px;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.btn-link {
    color: var(--link-color);
}

.btn-link:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.btn-primary {
    background-color: var(--transparency-color-light);
    border: none;
}

.btn-primary:hover {
    background-color: var(--transparency-color-dark);
}