{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block content %}

<h1 class="display-2">Food Diary 🍎</h1>

{% if today_atefood %}

    <h1 class="display-3">Today:</h1>

    <table cellpadding="2" style="width: 100%;">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Time</th>
                <th>Cal.</th>
                <th></th>
            </tr>
        </thead>
        
        {% for food in today_atefood %}

            <tr>
                <td>
                    {% if food.food.picture %}
                        <img src="/static/img/{{ food.food.picture.url }}" width="30px">
                    {% endif %}
                </td>
                <td><small>{{ food.food.name }}</small></td>
                <td><small>{{ food.timestamp|localtime }}</small></td>
                <td><small>{{ food.food.nutrients.calories|floatformat:0 }}</small></td>
                <td><a href="/food/view_food/{{ food.food.id }}/">More...</a></td>
            </tr>

        {% endfor %}
    </table>

{% endif %}

{% if yesterday_atefood %}

    <h1 class="display-3">Earlier:</h1>
    <table cellpadding="2"  style="width: 100%;">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Time</th>
                <th>Cal.</th>
                <th></th>
            </tr>
        </thead>
        
        {% for food in yesterday_atefood %}

            <tr>
                <td>
                    {% if food.food.picture %}
                        <img src="/static/img/{{ food.food.picture.url }}" width="30px">
                    {% endif %}
                </td>
                <td><small>{{ food.food.name }}</small></td>
                <td><small>{{ food.timestamp|localtime }}</small></td>
                <td><small>{{ food.food.nutrients.calories|floatformat:0 }}</small></td>
                <td><a href="/food/view_food/{{ food.food.id }}/">More...</a></td>
            </tr>

        {% endfor %}
    </table>
{% endif %}

{% endblock %}