{% extends "base.html" %}
{% load common_tags %}
{% load static %}

{% block content %}

<h1 class="display-2">Edit nutrition profile</h1>
<form method="post" action="{% url 'food:new_profile' %}">
    {% for nutrition, units in form %}
        <div class="form-group">
            {{ nutrition.label }}
            ({{ units }})
            {{ nutrition | addcss:"form-control" }}
        </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-orange" value="Set this nutrition as my new profile">
        Set as my new profile
    </button>
</form> 

{% endblock %}