{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="display-2">{{ food.name }}</h1>

<br>

{% if food.picture %}
    <img id="foodpicture" src="/static/img/{{ food.picture.url }}" width="150px"><br>
{% endif %}

{% if user.is_authenticated %}
    <button id={{ food.id }} class='foodButton' type="submit"
        onclick="if (confirm('Add {{ food.name }} to your food diary?')) {
                window.location.replace('{% url "food:add_food" food.id %}');
            }">
        Add
    </button>
    <br>
{% endif %}

{% for daily_intake_names, daily_intake_values, units in data %}

    {{ daily_intake_names }}
    {{ daily_intake_values }}
    {{ units }}
    <br>

{% endfor %}

{% endblock %}