{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="display-2">Details of {{ food.name }}</h1>

<br>

{% if food.picture %}
    <img id="foodpicture" src="/static/img/{{ food.picture.url }}" width="150px"><br>
{% endif %}

{% if user.is_authenticated %}
    <button id="{{ food.id }}" class='btn btn-primary btn-orange' type="submit"
        onclick="if (confirm('Add {{ food.name }} to your food diary?')) {
                window.location.replace('{% url "food:add_food" food.id %}');
            }">
        Add
    </button>
    <br>
{% endif %}

<table style="width: 100%;" cellpadding=5>
{% for daily_intake_names, daily_intake_values, units in data %}
    <tr>    
        <td style="width: 50%; display: block;">{{ daily_intake_names }}</td>
        <td style="width: 40%; display: block; text-align: right; font-weight: bold;">{{ daily_intake_values }}</td>
        <td style="width: 10%; display: block;">{{ units }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}