{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="display-2">View all foods 🍲</h1>

<table cellpadding="3" style="width: 100%">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Cal.</th>

            <!-- Only give the option of adding a food if they are logged in -->
            {% if user.is_authenticated %}
                <th></th>
            {% endif %}

            <th></th>
        </tr>
    </thead>
                
    {% for food in foods %}

        <tr>
            <td>
                {% if food.picture %}
                    <img src="/static/img/{{ food.picture.url }}" width="30px">
                {% endif %}
            </td>
            <td>{{ food.name }}</td>
            <td>{{ food.nutrients.calories|floatformat:0 }}</td>
            <td><a href="/food/view_food/{{ food.id }}/">More...</a></td>
            {% if user.is_authenticated %}
                <td>
                    <button id={{ food.id }} class="btn btn-primary btn-orange" type="submit"
                        onclick="if (confirm('Add {{ food.name }} to your food diary?')) {
                                window.location.replace('{% url "food:add_food" food.id %}');
                            }">
                        +
                    </button>
                </td>
            {% endif %}
        </tr>

    {% endfor %}
    
</table>

{% endblock %}