{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="display-1">View all foods</h1>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Calories (cal)</th>

            <!-- Only give the option of adding a food if they are logged in -->
            {% if user.is_authenticated %}
                <th></th>
            {% endif %}

            <th></th>
        </tr>
    </thead>
                
    {% for food in foods %}

        <tr>
            <th>
                {% if food.picture %}
                    <img src="/static/img/{{ food.picture.url }}" width="30px">
                {% endif %}
            </th>
            <th>{{ food.name }}</th>
            <th>{{ food.nutrients.calories }}</th>
            <th><a href="/food/view_food/{{ food.id }}/">More...</a></th>
            {% if user.is_authenticated %}
                <th>
                    <button id={{ food.id }} class='foodButton' type="submit"
                        onclick="if (confirm('Add {{ food.name }} to your food diary?')) {
                                window.location.replace('{% url "food:add_food" food.id %}');
                            }">
                        Add
                    </button>
                </th>
            {% endif %}
        </tr>

    {% endfor %}
    
</table>

{% endblock %}